.middle {
    margin-top: 40px;

    &__data {
        background: #E2E2E2;
        height: 580px;
        text-align: center;
    }

    &__no-data {
        padding-top: 270px;
        color:#A1A1A1;
        font-size: 13px;
    }
}