.top {
    padding-top: 60px;

    &__ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    &__li:not(:last-child) {
        border-right: 1px solid #DBDAD6;
        margin-right: 18px;
    }

    &__block {
        &-arrow {
            width: 8px;
            height: 5px;
            margin-bottom: 4px;
        }

        &-arrow_pink {
            fill: $pink-1;
        }

        &-stat {
            display: flex;

        }

        &-title {
            font-size: 13px;
            color: #818181;
            font-weight: bold;
        }

       

        &-number {
            font-size: 24px;
            font-weight: bold;

            &_yellow {
                color: $yellow;
            }

            &_pink {
                color: $pink-1;
            }
        }

        &-percent {
            font-size: 13px;
            font-weight: 600;
            margin-top: -10px;
        }
    }
}

.block-changes {
         margin-left: 5px;
    
   }