@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - 920px);
  padding-right: calc(50% - 920px);
}

.top {
  padding-top: 60px;
}

.top__ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.top__li:not(:last-child) {
  border-right: 1px solid #DBDAD6;
  margin-right: 18px;
}

.top__block-arrow {
  width: 8px;
  height: 5px;
}

.top__block-arrow_pink {
  fill: #FF0C4E;
}

.top__block-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__block-changes {
  margin-left: 5px;
}

.top__block-title {
  font-size: 13px;
  color: #818181;
  font-weight: bold;
}

.top__block-arrow {
  margin-bottom: 4px;
}

.top__block-number {
  font-size: 24px;
  font-weight: bold;
}

.top__block-number_yellow {
  color: #FFAF00;
}

.top__block-number_pink {
  color: #FF0C4E;
}

.top__block-percent {
  font-size: 13px;
  font-weight: 600;
  margin-top: -10px;
}

.middle {
  margin-top: 40px;
}

.middle__data {
  background: #E2E2E2;
  height: 580px;
  text-align: center;
}

.middle__no-data {
  padding-top: 270px;
  color: #A1A1A1;
  font-size: 13px;
}

@media screen and (max-width: 1850px) {
  .center {
    padding-left: calc(50% - 860px);
    padding-right: calc(50% - 860px);
  }
}

@media screen and (max-width: 1750px) {
  .center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
  }
}

@media screen and (max-width: 1650px) {
  .center {
    padding-left: calc(50% - 760px);
    padding-right: calc(50% - 760px);
  }
}

@media screen and (max-width: 1550px) {
  .center {
    padding-left: calc(50% - 715px);
    padding-right: calc(50% - 715px);
  }
}

@media screen and (max-width: 1440px) {
  .center {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
  }
}

@media screen and (max-width: 1410px) {
  .center {
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
  }
}

@media screen and (max-width: 1270px) {
  .center {
    padding-left: calc(50% - 590px);
    padding-right: calc(50% - 590px);
  }
}

@media screen and (max-width: 1200px) {
  .center {
    padding-left: calc(50% - 550px);
    padding-right: calc(50% - 550px);
  }
}

@media screen and (max-width: 1115px) {
  .center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
  }
}

@media screen and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 440px);
    padding-right: calc(50% - 440px);
  }
  .top__ul {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
  }
  .top__li:nth-child(3) {
    border: none;
  }
  .middle__data {
    height: 400px;
  }
  .middle__no-data {
    padding-top: 200px;
  }
}

@media screen and (max-width: 900px) {
  .center {
    padding-left: calc(50% - 400px);
    padding-right: calc(50% - 400px);
  }
}

@media screen and (max-width: 830px) {
  .center {
    padding-left: calc(50% - 350px);
    padding-right: calc(50% - 350px);
  }
}
/*# sourceMappingURL=style.css.map */