@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - 920px);
  padding-right: calc(50% - 920px);
}

.top {
  padding-top: 60px;
}

.top__ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.top__li:not(:last-child) {
  border-right: 1px solid #DBDAD6;
  margin-right: 18px;
}

.top__block-arrow {
  width: 8px;
  height: 5px;
  margin-bottom: 4px;
}

.top__block-arrow_pink {
  fill: #FF0C4E;
}

.top__block-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__block-title {
  font-size: 13px;
  color: #818181;
  font-weight: bold;
}

.top__block-number {
  font-size: 24px;
  font-weight: bold;
}

.top__block-number_yellow {
  color: #FFAF00;
}

.top__block-number_pink {
  color: #FF0C4E;
}

.top__block-percent {
  font-size: 13px;
  font-weight: 600;
  margin-top: -10px;
}

.block-changes {
  margin-left: 5px;
}

.middle {
  margin-top: 40px;
}

.middle__data {
  background: #E2E2E2;
  height: 580px;
  text-align: center;
}

.middle__no-data {
  padding-top: 270px;
  color: #A1A1A1;
  font-size: 13px;
}

.bottom {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.bottom__h4 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

table tr {
  height: 30px;
}

.table {
  border-collapse: collapse;
  width: 593px;
}

.table__th {
  font-size: 12px;
  color: #A1A1A1;
  padding-bottom: 7px;
}

.table__name, .table__td {
  font-weight: 600;
  font-size: 13px;
}

.table__td {
  width: 160px;
}

.table__name {
  width: 430px;
}

.table__name-p {
  width: 430px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table__th, .table__td, .table__name {
  border-bottom: 1px solid #C1C1C1;
  padding-top: 11px;
  padding-bottom: 5px;
}

.table__block-changes {
  text-align: left;
  width: 25px;
  height: auto;
  margin-top: -9px;
}

.table__block-arrow {
  width: 6px;
  height: 4px;
}

.table__block-arrow_pink {
  fill: #FF2A8F;
}

.table__block-arrow_green {
  fill: #66C913;
}

.table__block-percent {
  font-size: 9px;
  margin-top: -5px;
}

.table__block-percent_color {
  color: #A1A1A1;
}

.table__arrow-categ {
  width: 7px;
  height: 5px;
  fill: #A1A1A1;
}

.table-categ__th_left {
  text-align: left;
}

.table-categ__th_right {
  text-align: right;
}

.table-categ__th__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.table-categ__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.table-categ__a {
  color: #A1A1A1;
}

.table-person__th_left {
  text-align: left;
}

.table-person__th_right {
  text-align: right;
}

.table-person__marker {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.table-person__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.table-person__td {
  width: 60px;
  padding-top: 11px;
  padding-bottom: 5px;
}

.marker_pink {
  background-color: #FF2A8F;
}

.marker_border-pink {
  border: 1px solid #FF2A8F;
}

.marker_orange {
  background-color: #EA9900;
}

.marker_border-orange {
  border: 1px solid #EA9900;
}

.marker_green {
  background-color: #66C913;
}

.marker_border-green {
  border: 1px solid #66C913;
}

.table-disc_width-1 {
  width: 200px;
  text-align: left;
}

.table-disc_width-2 {
  width: 130px;
}

.table-disc__th_align {
  text-align: right;
}

@media screen and (max-width: 1850px) {
  .center {
    padding-left: calc(50% - 860px);
    padding-right: calc(50% - 860px);
  }
}

@media screen and (max-width: 1750px) {
  .center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
  }
}

@media screen and (max-width: 1650px) {
  .center {
    padding-left: calc(50% - 760px);
    padding-right: calc(50% - 760px);
  }
}

@media screen and (max-width: 1550px) {
  .center {
    padding-left: calc(50% - 715px);
    padding-right: calc(50% - 715px);
  }
}

@media screen and (max-width: 1440px) {
  .center {
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px);
  }
}

@media screen and (max-width: 1410px) {
  .center {
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
  }
}

@media screen and (max-width: 1270px) {
  .center {
    padding-left: calc(50% - 590px);
    padding-right: calc(50% - 590px);
  }
}

@media screen and (max-width: 1200px) {
  .center {
    padding-left: calc(50% - 550px);
    padding-right: calc(50% - 550px);
  }
}

@media screen and (max-width: 1115px) {
  .center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
  }
}

@media screen and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 440px);
    padding-right: calc(50% - 440px);
  }
  .top__ul {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
  }
  .top__li:nth-child(3) {
    border: none;
  }
  .middle__data {
    height: 400px;
  }
  .middle__no-data {
    padding-top: 200px;
  }
}

@media screen and (max-width: 900px) {
  .center {
    padding-left: calc(50% - 400px);
    padding-right: calc(50% - 400px);
  }
}

@media screen and (max-width: 830px) {
  .center {
    padding-left: calc(50% - 350px);
    padding-right: calc(50% - 350px);
  }
}
/*# sourceMappingURL=style.css.map */